<launch>

<rosparam file="$(find m3ros_control)/config/hardware_controllers.yaml" command="load" />
<arg name="cmd" default="start"/>
<!-- js controllers-->
<group ns="meka_roscontrol" >
  <node pkg="controller_manager" type="controller_manager" output="screen" name="meka_js" args="$(arg cmd) joint_state_controller"/>
</group> 

</launch>

