<launch>
<!-- Robot parameter server -->
<rosparam file="$(find m3ros_control)/config/hardware_controllers.yaml" command="load" />
<!-- Spawn the controllers -->
<node pkg="controller_manager" type="spawner" output="screen" name="meka_js" args="--shutdown-timeout=2.0 joint_state_controller left_hand_wrist_controller"/>


</launch>

