<launch>

<rosparam file="$(find m3ros_control)/config/hardware_controllers.yaml" command="load" />

<!-- upper body -->
<group ns="meka_roscontrol" >
  <node pkg="controller_manager" type="controller_manager" output="screen" name="meka_body_ctrl" args="start zlift_position_controller torso_position_trajectory_controller"/>

</group>
</launch>

