<launch>
<!-- Robot parameter server -->
<rosparam file="$(find m3ros_control)/config/hardware_controllers.yaml" command="load" />
<!-- Spawn the controllers -->
<group ns="meka_roscontrol" >
	<node pkg="controller_manager" type="spawner" output="screen" name="meka_js" args="joint_state_controller"/>
</group>
<!-- <group ns="full" > -->
 <node pkg="joint_state_publisher" type="joint_state_publisher" output="screen" name="meka_joint_state_publisher">
   <rosparam param="source_list">["/meka_roscontrol/joint_states"] </rosparam>
   <rosparam param="rate">50</rosparam>
<!--   <remap from="/full/robot_description" to="/robot_description"/> -->
 </node>
<!-- </group> -->




</launch>

