<launch>

<rosparam file="$(find m3ros_control)/config/hardware_controllers.yaml" command="load" />
<arg name="cmd" default="start"/>

<!-- upper body -->
<group ns="meka_roscontrol" >
  <node pkg="controller_manager" type="controller_manager" output="screen" name="meka_body_ctrl" args="$(arg cmd) zlift_position_trajectory_controller torso_position_trajectory_controller"/>

</group>
</launch>

